/* Using different fonts:
* to use a font from the two that we have (La Belle Aurore and Oswald) you have to add the 'font-family' property
* and then specify the font you want to use, using 'Oswald' or 'La Belle Aurore'. Look at .navbar{} for example.  */

/* COLOR PALETTE:
* light navbar background: hex(#FFFCF9), RGBA(255, 252, 249, 1) */

/* ------------------------------------------------------------------------------------------------------------------ */

body { /* resets all margin and padding */
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'La Belle Aurore';
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    column-gap: 10%;
    align-items: center;
    background-color: rgba(255, 252, 249, 0.8); /* CD - gave this a bit of opacity so that you can still see through it */ 
    font-size: 2.5em;
    text-align: center;
    height: 12vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s; /* transition for the JavaScript scroll effect */
}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease; /* slight effect for hovering over each navbar link */
}

.navbar li a:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.logoContainer {
    text-align: left;
    margin-right: 20%;
    display: inline-block;
    width: 300px;
}

.logo {
    margin-top: 15px;
    max-width: 40px;
    transform: rotate(45deg);
    margin-right: 15px;
}

/* CSS above is for the navigation bar */