/* Using different fonts:
* to use a font from the two that we have (La Belle Aurore and Oswald) you have to add the 'font-family' property
* and then specify the font you want to use, using 'Oswald' or 'La Belle Aurore'. Look at .navbar{} for example.  */

/* COLOR PALETTE:
* light navbar background: hex(#FFFCF9), RGBA(255, 252, 249, 1) */

/* ------------------------------------------------------------------------------------------------------------------ */

/* GENERAL STYLES */

body { /* resets all margin and padding */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f5;

}

.cursive {
    font-family: 'La Belle Aurore';
}

.oswald {
    font-family: 'Oswald';
}

button {
    border: none;
    background-color: #937B63;
    padding: 10px 40px 10px 40px;
    border-radius: 15px;
    transition: 0.3s ease;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow:
    0px 0px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgba(147, 123, 99, 0.5);
    cursor: pointer;
}

.small {
    max-width: 20vw;
}

/* END GENERAL STYLES */

/* CSS specific for navbar */

.navbar {
    font-family: 'La Belle Aurore';
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    column-gap: 10%;
    align-items: center;
    background-color: rgba(255, 252, 249, 0.8); /* CD - gave this a bit of opacity so that you can still see through it */ 
    font-size: 2.5em;
    text-align: center;
    height: 12vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s; /* transition for the JavaScript scroll effect */
}

.navbar li {
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease; /* slight effect for hovering over each navbar link */
}

.navbar li a:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.logoContainer {
    text-align: left;
    margin-right: 20%;
    display: inline-block;
    width: 300px;
}

.logo {
    margin-top: 15px;
    max-width: 40px;
    transform: rotate(45deg);
    margin-right: 15px;
}

/* CSS specific for navbar end */






/* CSS specific for index page */

.landingPageBody {
    background-image: url('images/greenBackground.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 85vh;
    text-align: center;
    padding-top: 15vh; /* Because of fixed navbar, the padding was a bit off*/
}

.frontPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    column-gap: 25vw;
}

.leftSide h1 {
    font-size: 6em;
    font-weight: normal;
}

.leftSide h4 {
    font-size: 1.5em;
}

.leftSide h3 {
    font-size: 2em;
}

/* Second viewport begin */

.viewportTwo {
    background-image: url('images/hazelBackground.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.viewportTitle {
    font-size: 5em;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.card {
    width: 20vw;
    height: 55vh;
    background-color: #F5F5F5;
    border-radius: 20px;
    box-shadow:
  0px 20px 80px rgba(0, 0, 0, 0.21)
;
}

.card h1 {
    font-size: 2em;
    margin-top: 8vh;
}

.cardDescription {
    font-size: 14px;
}

@media screen and  (min-width: 1440px) and (min-height: 1000px){
    .cardDescription {
        font-size: 2em;
    }
}


.cardImage {
    max-width: 10vw;
    border-radius: 100%;
    margin-top: 5vh;

}


/* Second viewport end */

/* Third viewport begin */

.viewportThree {
    background-image: url('images/darkBrownBackground.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 115vh;
    text-align: center;
}

.subtitle {
    margin-bottom: 80px;
}

.review {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow:
  0px 20px 80px rgba(0, 0, 0, 0.21);
    border-radius: 20px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.reviewImage {
    border-radius: 20px;
    max-width: 15vw;
}

.reviewText {
    margin-left: 10px;
    margin-right: 10px;
}

/* Third viewport end */
/* End index page CSS */


/* CSS specific for Contact Page */

.contactBody {
    background-image: url('images/greenBackground.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #f5f5f5;
}

.contactContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.contactContainer h1 {
    font-size: 4em;
    padding: 0;
    margin-top: 10vh;
    margin-bottom: 0;
    font-weight: normal;
}

.contactContainer h4 {
    margin-bottom: 15px;
    font-size: 20px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
}

input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #D9D9D9;
    box-shadow:
    0px 0px 5px rgba(0, 0, 0, 0.3);
}

textarea {
    height: 10vh;
    background-color: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
    0px 0px 5px rgba(0, 0, 0, 0.3);
}

label {
    font-size: 20px;
}



.pug {
    position: absolute;
    bottom: 45px;
    right: -70px;
    transform: rotate(-45deg);
}

.frenchie {
    position: absolute;
    top: 30px;
    left: -120px;
    transform: rotate(30deg);
}

/* End Contact Page Specific CSS */

/* Treats page specific CSS */

.treatsBody { /* resets all margin and padding */
    margin: 0;
    padding: 0;
    background: url(images/greenBackground.svg)no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #f5f5f5;
}


.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:3%;
    
    
    
}

.col {
    font-family: 'La Belle Aurore';
}

.items {
    border-radius: 100px;
    float: right;

}

.item {
    float: right;
    vertical-align:bottom
}

.box {
    margin-top: 10vh;
    height: 100%;
}

.menutext {
    text-align: center;
}

.dogmenu {
    margin: 0;
    padding: 0;
    background: url(images/darkBrownBackground.svg)no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}



.price {
    border-radius: 25px;
    background-color: #e7e5db;
    
}

.font {
    font-family: 'La Belle Aurore';
}